@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

html, body {
    background-color: var(--main-bg);
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--card-bg);
    border-radius: 10px;
    max-width: 300px;
}

img {
    width: 300px;
    border-radius: 20px;
    padding: 15px 15px;
    margin-bottom: 5px;

}

article > img {
    width: 2px;
}

p {
    font-size: 16px;
    color: var(--soft-blue);
    letter-spacing: normal;
    padding: 15px 15px;
}

h1 {
    font-size: 18px;
    color: var(--white);
    padding-left: 20px;
    padding-bottom: 0px;
}

h1#title {
    padding-top: 30px;
}